:root{
    --main-left: 70px;
    --nav-padding: 70px;
    --fontSize-h1: 3.5vw;
}


*{
    padding: 0px;
    margin: 0px;
    top: 0px;
    left:0px;
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

button{
    transition: all 0.3s;
    color: white;
    background: #F8A22F;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    cursor: pointer;
    border:none;
    outline: none;
    border: 2px solid transparent;
 }

 button:hover{
    color: black;
    background: white;
    border: 2px solid #F8A22F;
 }

 button:active{transform:scale(.95,.95);}
 span{color:#F8A22F}
 h1{font-weight: 600}

 section{
    position: relative;
    width: 100%;
    min-height: 100%;
}

.Section2 h1::after,.Section3 h1::after,.Section4 h1::after{
    content: "";
    width: 25%;
    height: 3px;
    background: #F8A22F;
    border-radius: 3px;
    display: block;
    margin-top: 10px;
}

/*  ---------- Navigation bar ---------- */
nav{
    position: absolute;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: calc(100% - (var(--main-left) + var(--nav-padding)));
    padding:20px 0px 0px var(--main-left);
}

nav ul{width: 600px;}
nav h1{padding-right:20px}
nav a{
    color: white;
    float: left;
    display: block;
    padding: 10px 40px;
}
nav div{
    font-size: 30px;
}

nav small{
    position: absolute
}


/*  ---------- Section 1  ---------- */
.Section1{
    background-image: url(./Img/Section1.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain;
    background-attachment: fixed;
}

.Section1 .content{
    position: absolute;
    top: 25%;
    left: var(--main-left);
    width: 50%;
    
}
.content h1{font-size: 5.4vw;font-weight: 500}
.content p{font-size: 1.5vw}
.content h1,.content p,.content button{margin-bottom: 50px;}


.Social img{
    width: 20px;
    height: 20px;
    padding-left: 20px;
}

.Social{
    position: absolute;
    top: calc(100% - 50px);
    left: var(--main-left);
}

#Helper{
    position: absolute;
    top: calc(100% - 70px);
    left: calc(50% - 0px);
    width: 40px;
    height: 40px; 
}

/*  ---------- Section 2  ---------- */
.Section2{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    width:calc(100% - 70px);
    background-image: url(./Img/Section2.svg);
    background-repeat: no-repeat;
    background-position: -40% 35%;
    background-size: 70% 70%;
    background-attachment: fixed;

}

.Section2 .content{width: 500px}
.Section2 .content h1{font-size: var(--fontSize-h1)}
.Section2 .content div{position: relative;left: 40px}
.Section2 .content img{position: absolute; left: -40px;}

.Section2 img{
    width: 30px;
    height: 30px;
    position: relative;
}

/*  ---------- Section 3  ---------- */
.Section3{
    background-image: url(./Img/Section3.png);
    background-size:contain;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.Section3 .content{
    width: 100%;
    height: 100%;
    background: rgba(248, 161, 47, 0.904);
}

.Section3 h1{font-size: var(--fontSize-h1);padding-top: 40px;}
.Section3 h1::after{
    position: relative;
    background:white;
    width:4pc;
    left: calc(50% - 2pc);
}

@font-face {
    font-family: Hobo;
    src: url(./Fonts/HoboStd.otf);
  }
  
  .plan1, .plan2{
    font-family: Hobo;
    position: relative;
    width: 500px;
    height: 400px;
    display:inline-block;
    border-radius: 20px;
    background-image: url(./Img/plansPic2.png);
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    margin: 0px 50px 50px 0px;
    background-position: -120% 0%;
    z-index: 1;
    
}

.plan2{
    background-image: url(./Img/plansPic1.png);
    background-position: 180% 0%;
}

.plan1 p, .plan2 p{
    position: absolute;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.904);
    width: 400px;
    top: calc(100% - 200px);
    margin-left: 40px;
    overflow: hidden;
    text-align: left;
}

.plan1 p{
    left: calc(100% - 435px);
    margin-left: 0px;
    text-align: right;
    margin-top: 45px;
}

.plan2 span{font-size: 60px;}
.plan1 span{font-size: 80px;} 

.Section3 small{
    background: white;
    position: absolute;
    width: 150%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: -25%;
}

/*  ---------- Section 4  ---------- */
.Section4 h1{font-size: var(--fontSize-h1);z-index: 1;font-weight: 500}
.Section4 h1::after{width:5pc;height: 5px;}
.Section4{padding-left: var(--nav-padding);width:calc(100% - var(--nav-padding))}
.Section4 .content{
    position: relative;
    width: 18pc;
    height: 20pc;
    padding: 30px;
    background-image: url(./Img/Section3.png);
    background-size: contain;
    padding-top: 50px;
    border-radius: 20px;
    top:50px;
}

.Section4 form{
    position: absolute;
    background: rgba(248, 161, 47, 0.904);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
}

.Section4 input:not([type="checkbox"]),.Section4 textarea{
    min-width: 65%;
    max-width: 65%;
    min-height: 20px;
    padding: 10px 10px; 
    outline: none;
    border: none;
    font-size: 12px;
    border-radius: 2px;
    margin-top:10px;
}
.Section4 textarea{height: 100px;max-height: 160px;}
.Section4 input[type="checkbox"]{
    margin-right: 10px;
}

.policies{
    padding-left: 10px;
    max-width: 240px;
    left: 100px;
    margin-bottom: 10px;
}

label{color: white;font-size: 12px;}

.Section4 input[type="submit"]{
    cursor: pointer;
    min-width: 120px;
    font-size: 15px;
    color: #F8A22F;
}

.formContainer{
    position: relative;
    top: calc(50% - 160px);
}

map{
    position: absolute;
    top: 40%;
    height: 60%;
    width: 100%;
    z-index: -1;
    display: block;
}


/* --------------------  Footer -------------------- */
footer{
    min-height: 40%;
    position: relative;
    background: rgba(0, 0, 0, 0.479);
    overflow: hidden;
}

#filter{
    background-image: url(./Img/footer.png);
    background-position: 50% 60%; 
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(2.2px);
    transform: scale(1.2);
    z-index: -1;
    opacity: 0.8;
}

.footerContent{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 0px;
}

.footerContent div{padding: 20px}
.footerContent div,
.footerContent span{
    display: block;
    line-height: 40px;
}
.footerContent h1,.footerContent h3, .footerContent span:not(.logo){
    color: white;
}
#Footerlogo span{display: inline;}

hr{border: .6px solid rgba(255, 255, 255, 0.699)}
#copyright{padding: 20px 70px; display: block;color: white}

.footerContent img{transition: all 0.3s}
.footerContent img:hover{opacity: 0.8;}
.footerContent img:active{transform: scale(0.9)}